# Ignore saved models and checkpoints
*.keras
*.h5
checkpoints/
__pycache__/
.ipynb_checkpoints/
eq_input/
eq_output/

# Ignore test image data
digits/
*.png

# Ignore virtual environments
.venv/
.env/